.header{
    
    width: 100%;
    &__container{
        padding: 8px;
        background-color: #1c1c1c;
        border-bottom: 1px solid #3D3D3F;
        &--transparent{
            background-color: transparent;
            border-bottom: none;
        }
    }

    nav{
        display: flex;
        height: 40px;
        line-height: 40px;
    }

    &__left,
    &__center,
    &__right{
        padding: 0 4px;
        a{
            color: $text-color;
            text-decoration: none;
        }
        // span{
        //     display: none;
        // }
        // &.visible{
        //     span{
        //         display: block;
        //     }
        // }
    }
    &__left{
        width: 25%;
        text-align: left;
        .back{
            background: url(/src/assets/icons/arrow.svg) no-repeat left center;
            padding-left: 16px;
            display: block;
            margin-left: -4px;
        }
    }
    &__center{
        width: 50%;
        text-align: center;
        h1{
            font-size: 16px;
            font-weight: normal;
            margin: 0;
        }
    }
    &__right{
        width: 25%;
        text-align: right;
    }
    .hidden{
        display: none;
    }

}