.subscription2{
    &__container{
        padding: 8px;
    }
    &__introimage{
        padding-top: 8vh;
        margin-bottom: 8px;
    }
    &__title{
    }
    &__text{
        margin: 0 auto;
        margin-bottom: 32px;
    }
    &__form{
        &__message{
            margin-top: 40px;
        }
    }
}