.title-big{
    font-size: 34px;
    line-height: 38px;
    font-weight: normal;
}
.title-medium{
    font-size: 28px;
    line-height: 32px;
    font-weight: normal;
}
.title-small{
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
}